<div class="p-dialog-header">
  <span class="p-dialog-title">{{ title() }}</span>
</div>
<ng-content class="p-dialog-content"></ng-content>
<div class="p-dialog-footer">
  <footer>
    <div class="flex w-full justify-content-end">
      <p-button
        [icon]="switchToYesNoButtons() ? 'pi pi-check' : 'pi pi-save'"
        [label]="switchToYesNoButtons() ? 'Yes' : 'Save'"
        size="small"
        pAutoFocus
        [autofocus]="true"
        (click)="handleSave()"
      ></p-button>
      <p-button
        icon="pi pi-times"
        [label]="switchToYesNoButtons() ? 'No' : 'Close'"
        size="small"
        severity="danger"
        (click)="handleClose()"
      ></p-button>
    </div>
  </footer>
</div>
